body, html{
height:100%;
width:100%;
margin:0;
font-family: 'Roboto', sans-serif;
}

.welcome_text{
font-size:40px;
margin-top:10px;
margin-bottom:30px;
}

.box1{
float:left;
width:260px;
height:100%;
line-height:20px;
margin-left:30px;
margin-top:30px;
}

.widget{
color:white;
float:left;
margin-left:10px;
font-size:20px;
background-color:#374143;
width:60px;
height:34px;
padding:10px;
}

#widget_subtext{
font-size:10px;
vertical-align:bottom;
float:right;
}

.todolist{
margin-top:30px;
width:230px;
height:276px;
background-color:#374143;
float:left;
padding-left:30px;
color:white;
}

.box2{
float:left;
width:200px;
height:400px;
font-size:8px;
background-color:#374143;
color:white;
line-height:20px;

margin-left:30px;
padding:10px;
margin-top:30px;

}

/* heading wallet */
#heading_wallet{
font-size:12px;
color:white;
padding-left:10px;
padding-top:10px;
margin-bottom:20px;
}

.box3{
float:left;
width:370px;
height:180px;
font-size:8px;
background-color:#374143;
color:white;

margin-left:30px;
padding:20px;
margin-top:30px;

}

/* heading timetable */
#heading_timetable{
font-size:12px;
color:white;
margin-bottom:20px;
}

.highlight{
border:solid 1px red;
font-weight:bold;
}

.time_column{
background-color:#e2e2e2;
color:#646464}

.box4{
float:left;
width:370px;
height:130px;
font-size:10px;
background-color:#374143;
color:white;
margin-left:30px;
padding:20px;
margin-top:30px;

}

.heading{
font-size:12px;
color:white;
margin-bottom:20px;
}

.walletbtn{
width:40px;
border-radius:25px;
background-color:white;
color:black;
font-size:8px;
vertical-align:middle;
font-weight:400;
text-align:center;
padding-top:0;
height:10px;}
